:root {
    --color: rgb(179, 216, 180);
    --bg-color: rgb(195, 225, 255);
    --light-color: rgb(229, 246, 230);
    --dark-color: rgb(6, 112, 64); /* #427040 */
    --highlight-color: rgb(255, 215, 105);
    --light-highlight-color: rgb(255, 235, 165);
    --other-color: rgb(51, 8, 143);
    --border: medium solid black;
    --border-radius: 1em;
    --font-family: Arial, Helvetica, sans-serif;
}

/* narrow nav only, hopefully ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

div.navbar-header{
    background-color: var(--bg-color);
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: var(--light-highlight-color);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: inherit;
}

.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: blue;
    /*border: 1px solid var(--other-color);*/
}

ul.nav.navbar-nav li a:hover {
    color: blue;
}

    
ul.nav.navbar-nav li.active a:hover {
    color: var(--other-color);
}

@media (min-width: 768px) {
    ul.nav.navbar-nav li a {
        border: var(--border);
        border-bottom: none;
        border-radius: 2em 2em 0em 0em;
        padding: 1em 2em;
    }
    ul.nav.navbar-nav li {
        padding-top: 0.75em;
        margin-left: 1em;
    }

    ul.nav.navbar-nav li a {
        background-color:var(--bg-color);
    }
    
    ul.nav.navbar-nav li a:hover {
        background-color: var(--highlight-color);
        color: black;
    }

    ul.nav.navbar-nav li.active a {
        background-color:white;
        margin-bottom: -2em;
        padding-bottom: 1.2em;
    }
    
    ul.nav.navbar-nav li.active a:hover {
        background-color: white;
        color:var(--highlight-color);
    }
    
    div.navbar-header {
        padding-top: 0.75em;
        background-color: inherit;
    }

    div.navbar-fixed-top {
        border-bottom: var(--border);
    }
}

/* CHANGES TO BOTH - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div.navbar-header a.navbar-brand {
    color: var(--dark-color);
}

div.navbar-header a.navbar-brand:hover {
    color: blue;
    /*-webkit-text-stroke: 0.5px black;*/
}

ul.nav.navbar-nav li a {
        color:black;
    }

ul.nav.navbar-nav li.active a {
        color:black;
    }
    
/* MORE  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  -- */

div.float img {
    border: var(--border);
    border-radius: 5%;
    margin: 5%;
}