:root {
    --color: rgb(179, 216, 180);
    --bg-color: rgb(195, 225, 255);
    --light-color: rgb(229, 246, 230);
    --dark-color: rgb(6, 112, 64); /* #427040 */
    --highlight-color: rgb(255, 215, 105);
    --other-color: rgb(51, 8, 143);
    --border: medium solid black;
    --border-radius: 1em;
    --font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    ul.nav.navbar-nav li a {
        border: var(--border);
        border-bottom: none;
        border-radius: 2em 2em 0em 0em;
        padding: 1em 2em;
    }
    ul.nav.navbar-nav li {
        padding-top: 0.75em;
        margin-left: 1em;
    }

    ul.nav.navbar-nav li a {
        background-color:var(--bg-color);
    }
    
    ul.nav.navbar-nav li a:hover {
        background-color: var(--highlight-color);
    }

    ul.nav.navbar-nav li.active a {
        background-color:white;
        margin-bottom: -2em;
        padding-bottom: 1.2em;
    }
    
    ul.nav.navbar-nav li.active a:hover {
        background-color: white;
        color:var(--highlight-color);
    }
    
    div.navbar-header {
        padding-top: 0.75em;
    }

    div.navbar-fixed-top {
        border-bottom: var(--border);
    }
}

/* CHANGES TO BOTH */

div.navbar-header a.navbar-brand {
    color: var(--dark-color);
}

div.navbar-header a.navbar-brand:hover {
    text-shadow: 1px 1px var(--highlight-color);
}

ul.nav.navbar-nav li a {
        color:black;
    }

ul.nav.navbar-nav li.active a {
        color:black;
    }