@import url('https://fonts.googleapis.com/css?family=Kavivanar');

:root {
    --color: rgb(179, 216, 180);
    --bg-color: rgb(195, 225, 255);
    --light-bg-color: rgb(225,235,255);
    --light-color: rgb(229, 246, 230);
    --dark-color: rgb(6, 112, 64); /* #427040 */
    --highlight-color: rgb(255, 215, 105);
    --light-highlight-color: rgb(255, 235, 165);
    --other-color: rgb(51, 8, 143);
    --border: medium solid black;
    --border-radius: 1em;
    --font-family: Arial, Helvetica, sans-serif;
}


/* narrow nav only, hopefully ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

div.navbar-header {
  background-color: var(--bg-color);
  font-family: Kavivanar;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: inherit;
}

.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: blue;
    /*border: 1px solid var(--other-color);*/
}

ul.nav.navbar-nav li a:hover {
    color: blue;
}

    
ul.nav.navbar-nav li.active a:hover {
    color: var(--other-color);
}

div.navbar-fixed-top {
        /*border-top: var(--border);*/
        border-bottom: var(--border);
    }

div.navbar-fixed-top {
        /*border-top: var(--border);*/
        border-bottom: var(--border);
    }

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: black;
}

div.navbar-collapse{
    border-top: var(--border);
}

div.navbar-collapse ul li:nth-child(even){
    border-top: thin dashed grey;
    border-bottom: thin dashed grey;
}

div.navbar-collapse ul li:nth-last-child(-n+1){
    border-bottom: none;
}


/* FOOTER @  @  @  @  @  @  @ */

div.footer p{
  background-color: white;
  border: var(--border);
  border-radius: 2em;
  color: var(--dark-color);
  padding: 1em;
  width: fit-content;
  
}

/* wide nav! ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~  ~~ */

@media (min-width: 768px) {
    ul.nav.navbar-nav li a {
        border: var(--border);
        border-bottom: none;
        border-radius: 2em 2em 0em 0em;
        padding: 1em 2em;
    }
    ul.nav.navbar-nav li {
        padding-top: 0.75em;
        margin-left: 1em;
    }

    ul.nav.navbar-nav li a {
        background-color:royalblue;
        font-family: Kavivanar;
    }
    
    ul.nav.navbar-nav li a:hover {
        background-color: var(--highlight-color);
        color: black;
    }

    ul.nav.navbar-nav li.active a {
        background-color:white;
        margin-bottom: -2em;
        padding-bottom: 1.2em;
    }
    
    ul.nav.navbar-nav li.active a:hover {
        background-color: white;
        color:var(--highlight-color);
    }
    
    div.navbar-header {
        padding-top: 0.75em;
        background-color: inherit;
    }

    div.container div.navbar-header a.navbar-brand:hover {
        color: var(--other-color);
    }

    div.navbar-fixed-top {
        background-color: var(--bg-color);
        border-bottom: var(--border);
    }
    
    div.navbar-collapse{
        border: none;
    }

    div.navbar-collapse ul li:nth-child(even){
        border: none;
    }
    
    /* FOOTER @  @  @  @  @  @  @ */
    
    div.footer p{
      color: black;
      background-color: royalblue;
    }
}


/* CHANGES TO BOTH - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div.navbar-header a.navbar-brand {
    color: var(--dark-color);
}

div.navbar-header a.navbar-brand:hover {
    color: blue;
    /*-webkit-text-stroke: 0.5px black;*/
}

ul.nav.navbar-nav li a {
        color:black;
    }

ul.nav.navbar-nav li.active a {
        color:black;
    }


/* MORE  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  --  -- */

div.float img {
    border: var(--border);
    border-radius: 5%;
    margin: 2.5% 5% 5% 5%;
    max-width: 50%;
}

.figcaption{
    display:none;
}

h1{
    color: var(--other-color);
    font-family: "Courier New", monospace;
    font-weight: bold;
}

div.hw-page table{
    max-width: 65%;
    margin: 5% 0% 5% 2.5%;
}

div.hw-page table tbody tr > *:nth-child(1){
    width:40%;
    text-align:center;
}

/* Tables # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # */

table{
    border: var(--border);
    border-radius: 2em;
    border-collapse: separate;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-color: black;
    padding: 1em;
}

.table>thead>tr>th{
    background-color: var(--light-bg-color);
}

.table>caption+thead>tr:first-child>td:first-child, .table>caption+thead>tr:first-child>th:first-child, .table>colgroup+thead>tr:first-child>td:first-child, .table>colgroup+thead>tr:first-child>th:first-child, .table>thead:first-child>tr:first-child>td:first-child, .table>thead:first-child>tr:first-child>th:first-child{
    border-radius: 2em 0 0 0;
}

.table>caption+thead>tr:first-child>td:last-child, .table>caption+thead>tr:first-child>th:last-child, .table>colgroup+thead>tr:first-child>td:last-child, .table>colgroup+thead>tr:first-child>th:last-child, .table>thead:first-child>tr:first-child>td:last-child, .table>thead:first-child>tr:first-child>th:last-child{
    border-radius: 0 2em 0 0;
}

/* FOOTER @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @ */

div.footer{
  border-top: var(--border);
  background-color: var(--bg-color);
  margin-top: 5em;
  padding: 1em;
  /* position */
  width: 100%;
  position: absolute;
  left: 0;
}